input, /* for mozilla */
textarea, /* for mozilla */
select, /* for mozilla */
option, /* for mozilla */
button, /* for mozilla */
html,
body {
	font-family: 'Microsoft Yahei UI Light', 'Microsoft Yahei UI', 'Microsoft Yahei', 'SimHei', Sans-Serif;
	}

html, body {
	margin: 0;
	padding: 0;
}

#stage-viewport {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	overflow-x: auto;
	overflow-y: hidden;
	}

	#stage-viewport #stage {
		position: absolute;
		height: 100%;
		overflow: hidden;

		left: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
	}

	#stage-viewport #stage #stage-content-scaler {
		width: 4480px;
		height: 717px;
		
		position: absolute;
		left: 0;
		bottom: 0;
		transform-origin: 0 100% 0;

		margin: 0;
		padding: 0;
	}





.actress {
	left: 790px;
	bottom: 90px;
	top: auto!important;
	/*transform: scale3d(0.5,0.5,0.5);*/
	}
	.actress > .size { width: 100px; height: 100px; }
	.actress > .size > .pivot {}

	.actress .pants 				{ z-index: 1; }

	.actress .leg.l 				{ z-index: 0; }
	.actress .leg.r 				{ z-index: 4; }
	.actress .pants > .size			{ z-index: 8; }
	.actress .trunk 				{ z-index: 12; }
	
	.actress .arm.l 				{ z-index: 0; }
	.actress .trunk > .size			{ z-index: 4; }
	.actress .head 					{ z-index: 8; }
	.actress .arm.r 				{ z-index: 12; }

	.actress .phone-in-hand 		{ z-index: 0; }
	.actress .head-sweat-droplets 	{ z-index: 0; }





	.actress .pants { left: 0; top: 0; }
		.actress .pants	> .size { width: 87px; height: 47px; }
		.actress .pants	> .size > .pivot {}


	.actress .trunk { left: 0; top: -10px; }
		.actress .trunk	> .size { width: 121px; height: 110px; }
		.actress .trunk	> .size > .pivot { margin-left: -22px; }


	.actress .head { left: -8px; top: -90px; }
		.actress .head.smiling		> .size { width: 185px; height: 191px; }
		.actress .head.smiling		> .size > .pivot { margin-left: -2px; margin-top: -2px; }

		.actress .head.eyes-closed	> .size { width: 192px; height: 194px; }
		.actress .head.eyes-closed	> .size > .pivot { margin-left: -2px; margin-top: -2px; }



	.actress .head.smiling		.face-sweat-droplets { left: 56px; top: auto!important; bottom: 78px; display: none; }
	.actress .head.eyes-closed	.face-sweat-droplets { left: 57px; top: auto!important; bottom: 60px; }
		.actress .face-sweat-droplets	> .size { width: 58px; height: 67px; }
		.actress .face-sweat-droplets	> .size > .pivot {}



	.actress .arm.l { left: 20px; top: -76px; }
	.actress .arm.r { left: 6px; top: -68px; }
		.actress .arm.l.default		> .size { width: 32px; height: 76px; }
		.actress .arm.l.default		> .size > .pivot { margin-left: 0; margin-top: -12px; }

		.actress .arm.r.default		> .size { width: 32px; height: 76px; }
		.actress .arm.r.default		> .size > .pivot { margin-left: 0; margin-top: -12px; }

		.actress .arm.walking-front	> .size { width: 84px; height: 57px; }
		.actress .arm.walking-front	> .size > .pivot { margin-left: 27px; margin-top: -12px;}



	.actress .arm.default 		.phone-in-hand { left: 5px; top: 58px; transform: rotate(125deg); }
	.actress .arm.walking-front	.phone-in-hand { left: 61px; top: 36px; }
		.actress .phone-in-hand > .size { width: 63px; height: 73px; }
		.actress .phone-in-hand > .size > .pivot {}



	.actress .leg.l { left: 0px; top: 6px; transfrom-origin: 60% 10% 0; }
	.actress .leg.r { left: 0px; top: 6px; transfrom-origin: 60% 10% 0; }
		.actress .leg.default		> .size { width: 39px; height: 51px; }
		.actress .leg.default		> .size > .pivot { margin-left: 3px; margin-top: 0; }

		.actress .leg.walking-rear	> .size { width: 48px; height: 66px; }
		.actress .leg.walking-rear	> .size > .pivot { margin-left: 3px; margin-top: 0; }




.bg-gradient,
.bg-buildings,
.bg-road { left: 0; top: auto !important; bottom: 0; }
	.bg-gradient	> .size { width: 4480px; height: 717px; }
	.bg-buildings	> .size { width: 4480px; height: 717px; }
	.bg-road		> .size { width: 4480px; height: 95px; }
	.bg-gradient	> .size > .pivot {}
	.bg-buildings	> .size > .pivot {}
	.bg-road		> .size > .pivot {}


.element-wifi-hotspot { top: auto !important; }
	.element-wifi-hotspot	> .size { width: 151px; height: 163px; }
	.element-wifi-hotspot	> .size.small { width: 30px; height: 35px; }
	.element-wifi-hotspot	> .size			> .pivot {}
	.element-wifi-hotspot	> .size.small	> .pivot { /*transform: scale3d(0.25,0.25,0.25);*/ }


	.element-tree { top: auto !important; }
		.element-tree	> .size { width: 136px; height: 102px; }
		.element-tree	> .size > .pivot {}


	.element-cloud { top: auto !important; }
		.element-cloud	> .size { width: 142px; height: 77px; }
		.element-cloud	> .size > .pivot {}
		#cloud-1 { left: 180px; bottom: 490px; }
		#cloud-2 { left: 320px; bottom: 420px; }
		#cloud-3 { left: 220px; bottom: 450px; }
		#cloud-1 > .size > .pivot { transform: scale3d(1,1,0.99); }
		#cloud-2 > .size > .pivot { transform: scale3d(0.6,0.56,0.5); }
		#cloud-3 > .size > .pivot { transform: scale3d(0.6,0.56,0.5); }



	*[class*='element-vehicle'] { top: auto !important; }
		*[class*='element-vehicle']	> .size { width: 190px; height: 77px; }
		*[class*='element-vehicle']	> .size > .pivot {}
		#car-1 { left:  678px; bottom: 15px; }
		#car-2 { left: 1900px; bottom: 65px; }
		#car-3 { left: 2888px; bottom: 77px; }
		#car-4 { left: 3700px; bottom: 15px; }







.scenario-center { top: auto!important; bottom: 95px; }



	.bus-stop-pole { top: auto!important; }
	.bus-stop-trash-bin { top: auto!important; }
		.bus-stop-pole		> .size { width: 547px; height: 631px; }
		.bus-stop-trash-bin	> .size { width: 148px; height: 169px; }

		.bus-stop-pole		> .size > .pivot {}
		.bus-stop-trash-bin	> .size > .pivot {}

		#scenario-1 .bus-stop-pole		{ left: 202px; bottom: 0; }
		#scenario-1 .bus-stop-trash-bin	{ left: 307px; bottom: 0; }
		#scenario-1 .scenario-center 	{ left: 0; }







	.hotel			{ top: auto!important; }
	.coffee-shop	{ top: auto!important; }
		.hotel					> .size { width: 262px; height: 396px; }
		.hotel			.brand	> .size { width: 219px; height: 59px; }
		.coffee-shop			> .size { width: 317px; height: 295px; }
		.coffee-shop	.brand	> .size { width: 206px; height: 76px; }

		.hotel					> .size > .pivot {}
		.hotel			.brand	> .size > .pivot {}
		.coffee-shop			> .size > .pivot {}
		.coffee-shop	.brand	> .size > .pivot {}

		.hotel			.brand			{ left: 0px; top: -396px; }
		.coffee-shop	.brand			{ left: 0px; top: -290px; }
		
		#scenario-2 .hotel				{ left: -140px; bottom: 0; }
		#scenario-2 .coffee-shop		{ left: 175px; bottom: 0; }
		#scenario-2 .scenario-center	{ left: 1228px; }






	.outdoor-seats					{ top: auto!important; }
	.outdoor-seats .base			{ top: auto!important; }
	.outdoor-seats .table			{ top: auto!important; }
	.outdoor-seats .umbrella		{ top: auto!important; }
	.outdoor-seats .boy				{ top: auto!important; }
	.outdoor-seats .girl			{ top: auto!important; }
	.outdoor-seats .waitress		{ top: auto!important; }
	.outdoor-seats .waitress .voice	{ top: auto!important; }

		.outdoor-seats .base			> .size { width: 784px; height: 325px; }
		.outdoor-seats .table			> .size { width: 366px; height:  32px; }
		.outdoor-seats .umbrella		> .size { width: 488px; height: 147px; }
		.outdoor-seats .boy				> .size { width: 131px; height: 216px; }
		.outdoor-seats .girl			> .size { width: 144px; height: 206px; }
		.outdoor-seats .waitress		> .size { width: 140px; height: 287px; }
		.outdoor-seats .waitress .voice	> .size { width:  30px; height:  35px; }

		.outdoor-seats .base			> .size > .pivot {}
		.outdoor-seats .table			> .size > .pivot {}
		.outdoor-seats .umbrella		> .size > .pivot {}
		.outdoor-seats .boy				> .size > .pivot {}
		.outdoor-seats .girl			> .size > .pivot {}
		.outdoor-seats .waitress		> .size > .pivot {}
		.outdoor-seats .waitress .voice	> .size > .pivot {}

		.outdoor-seats .base			{ left:   0px; bottom:   0px; }
		.outdoor-seats .table			{ left:   0px; bottom:  95px; }
		.outdoor-seats .umbrella		{ left:   0px; bottom: 321px; }
		.outdoor-seats .boy				{ left: -75px; bottom:  48px; }
		.outdoor-seats .girl			{ left:  75px; bottom:  48px; }
		.outdoor-seats .waitress		{ left: 240px; bottom:  -2px; }
		.outdoor-seats .waitress .voice	{ left: -60px; bottom: 200px; }
		
		#scenario-3 .outdoor-seats		{ left: 0; bottom: 0; }
		#scenario-3 .scenario-center	{ left: 2300px; }





	.gigantic-phone			{ top: auto!important; }
	.gigantic-phone .boy	{ top: auto!important; }
	.gigantic-phone .girl	{ top: auto!important; }

		.gigantic-phone			> .size { width: 264px; height: 520px; }
		.gigantic-phone .boy	> .size { width: 234px; height: 333px; }
		.gigantic-phone .girl	> .size { width: 168px; height: 329px; }

		.gigantic-phone						> .size > .pivot {}
		.gigantic-phone .boy				> .size > .pivot {}
		.gigantic-phone .girl				> .size > .pivot {}
		#scenario-4 #gigantic-phone-tree-1	> .size > .pivot { transform: scale3d(0.5,0.5,0.5); }
		#scenario-4 #gigantic-phone-tree-2	> .size > .pivot { transform: scale3d(0.6,0.56,0.5); }


		.gigantic-phone						{ left:   0; bottom: 0; }
		.gigantic-phone .boy				{ left:   0px; bottom: 50px; }
		.gigantic-phone .girl				{ left:   0px; bottom: 50px; }

		#scenario-4 #gigantic-phone-tree-1	{ left: -158px; bottom: 0; }
		#scenario-4 #gigantic-phone-tree-2	{ left:  162px; bottom: 0; }
		#scenario-4 .scenario-center		{ left: 3300px; }





	.green-land								{ top: auto!important; }
	.green-land .building-1					{ top: auto!important; }
	.green-land .building-2					{ top: auto!important; }
	.green-land .building-twins				{ top: auto!important; }
	.green-land .building-twins .tower-1	{ top: auto!important; }
	.green-land .building-twins .tower-2	{ top: auto!important; }

		.green-land								> .size { width: 553px; height:  94px; }
		.green-land .building-1					> .size { width: 126px; height: 368px; }
		.green-land .building-2					> .size { width:  79px; height: 367px; }
		.green-land .building-twins .tower-1	> .size { width:  79px; height: 256px; }
		.green-land .building-twins .tower-2	> .size { width:  79px; height: 256px; }

		.green-land								> .size > .pivot {}
		.green-land .building-1					> .size > .pivot {}
		.green-land .building-2					> .size > .pivot {}
		.green-land .building-twins .tower-1	> .size > .pivot {}
		.green-land .building-twins .tower-2	> .size > .pivot {}

		.green-land .building-1					{ left: -130px; bottom: 20px; }
		.green-land .building-2					{ left:  -18px; bottom: 46px; }
		.green-land .building-twins				{ left:  140px; bottom: 50px; }
		.green-land .building-twins .tower-1	{ left:  -44px; bottom: 0; }
		.green-land .building-twins .tower-2	{ left:   44px; bottom: 0; }

		#scenario-5 #green-land-tree-1			{ left: -240px; bottom: 20px; }
		#scenario-5 #green-land-tree-2			{ left: -160px; bottom: 52px; }
		#scenario-5 #green-land-tree-3			{ left: 150px; bottom: 50px; }
		#scenario-5 #green-land-tree-4			{ left: 220px; bottom: 16px; }

		#scenario-5 #green-land-tree-1 > .size > .pivot { transform: scale3d(1,1,0.9); }
		#scenario-5 #green-land-tree-2 > .size > .pivot { transform: scale3d(0.66,0.66,0.66); }
		#scenario-5 #green-land-tree-3 > .size > .pivot { transform: scale3d(0.5,0.5,0.5); }
		#scenario-5 #green-land-tree-4 > .size > .pivot { transform: scale3d(0.72,0.72,0.72); }

		#scenario-5 #green-land-wifi-1			{ left: -190px; bottom: 270px; }
		#scenario-5 #green-land-wifi-2			{ left: -83px; bottom: 270px; }
		#scenario-5 #green-land-wifi-3			{ left: -33px; bottom: 400px; }
		#scenario-5 #green-land-wifi-4			{ left: 66px; bottom: 228px; }
		#scenario-5 #green-land-wifi-5			{ left: 87px; bottom: 176px; }
		#scenario-5 #green-land-wifi-6			{ left: 94px; bottom: 81px; }
		#scenario-5 #green-land-wifi-7			{ left: 156px; bottom: 221px; }
		#scenario-5 #green-land-wifi-8			{ left: 190px; bottom: 268px; }
		#scenario-5 #green-land-wifi-9			{ left: -93px; bottom: 57px; }
		#scenario-5 #green-land-wifi-10			{ left: 191px; bottom: 54px; }

		#green-land-wifi-hero					{ left: 0; bottom: 25px; }
		#scenario-5 .green-land					{ left: 0; bottom: 0; }
		#scenario-5 .scenario-center			{ left: 4153px; }




.symbol {
	background-size: contain;
}

.actress .face-sweat-droplets 	> .size	> .symbol { background-image: url(../images/app-welcome/actress-char-body-part-head-sweat-droplets.png); }
	.actress .head.smiling		> .size	> .symbol { background-image: url(../images/app-welcome/actress-char-body-part-head-smiling.png); }
	.actress .head.eyes-closed	> .size	> .symbol { background-image: url(../images/app-welcome/actress-char-body-part-head-eyes-closed.png); }
	.actress .arm.l.default		> .size	> .symbol { background-image: url(../images/app-welcome/actress-char-body-part-arm-default-l.png); }
	.actress .arm.r.default		> .size	> .symbol { background-image: url(../images/app-welcome/actress-char-body-part-arm-default-r.png); }
	.actress .arm.walking-front	> .size	> .symbol { background-image: url(../images/app-welcome/actress-char-body-part-arm-walking-front.png); }
	.actress .leg.default		> .size	> .symbol { background-image: url(../images/app-welcome/actress-char-body-part-leg-default.png); }
	.actress .leg.walking-rear	> .size	> .symbol { background-image: url(../images/app-welcome/actress-char-body-part-leg-walking-rear.png); }
	.actress .pants				> .size	> .symbol { background-image: url(../images/app-welcome/actress-char-body-part-pants.png); }
	.actress .trunk				> .size	> .symbol { background-image: url(../images/app-welcome/actress-char-body-part-trunk.png); }
	.actress .phone-in-hand		> .size	> .symbol { background-image: url(../images/app-welcome/actress-prop-phone-in-hand.png); }


	.bg-gradient 		> .size > .symbol { background-image: linear-gradient(to bottom, #8bcaf7 0%, #ddd8ff 100%);/*url(../images/app-welcome/_bg-gradient.png);*/ }
		.bg-buildings 	> .size > .symbol { background-image: url(../images/app-welcome/_bg-buildings.png); background-repeat: repeat-x; }
		.bg-road 		> .size > .symbol { background-image: url(../images/app-welcome/_bg-road.png); background-repeat: repeat-x; }


	.element-cloud 				> .size > .symbol { background-image: url(../images/app-welcome/_element-cloud.png); }
		.element-tree 			> .size > .symbol { background-image: url(../images/app-welcome/_element-tree.png); }
		.element-vehicle-blue 	> .size > .symbol { background-image: url(../images/app-welcome/_element-vehicle-blue.png); }
		.element-vehicle-lime 	> .size > .symbol { background-image: url(../images/app-welcome/_element-vehicle-lime.png); }
		.element-vehicle-pink 	> .size > .symbol { background-image: url(../images/app-welcome/_element-vehicle-pink.png); }
		.element-vehicle-red 	> .size > .symbol { background-image: url(../images/app-welcome/_element-vehicle-red.png); }
		.element-wifi-hotspot 	> .size > .symbol { background-image: url(../images/app-welcome/_element-wifi-hotspot.png); }


	.bus-stop-pole 			> .size > .symbol { background-image: url(../images/app-welcome/bus-stop-prop-pole.png); }
		.bus-stop-trash-bin > .size > .symbol { background-image: url(../images/app-welcome/bus-stop-prop-trash-bin.png); }


	.coffee-shop 			> .size > .symbol { background-image: url(../images/app-welcome/hotel-n-coffee-shop-prop-coffee-shop.png); }
		.coffee-shop .brand	> .size > .symbol { background-image: url(../images/app-welcome/hotel-n-coffee-shop-prop-coffee-shop-brand.png); }
		.hotel 				> .size > .symbol { background-image: url(../images/app-welcome/hotel-n-coffee-shop-prop-hotel.png); }
		.hotel .brand 		> .size > .symbol { background-image: url(../images/app-welcome/hotel-n-coffee-shop-prop-hotel-brand.png); }

	.outdoor-seats .base 				> .size > .symbol { background-image: url(../images/app-welcome/outdoor-seats-prop-base.png); }
		.outdoor-seats .table 			> .size > .symbol { background-image: url(../images/app-welcome/outdoor-seats-prop-table.png); }
		.outdoor-seats .umbrella 		> .size > .symbol { background-image: url(../images/app-welcome/outdoor-seats-prop-umbrella.png); }
		.outdoor-seats .boy 			> .size > .symbol { background-image: url(../images/app-welcome/outdoor-seats-char-boy.png); }
		.outdoor-seats .girl 			> .size > .symbol { background-image: url(../images/app-welcome/outdoor-seats-char-girl.png); }
		.outdoor-seats .waitress 		> .size > .symbol { background-image: url(../images/app-welcome/outdoor-seats-char-waitress.png); }
		.outdoor-seats .waitress .voice	> .size > .symbol { background-image: url(../images/app-welcome/outdoor-seats-char-waitress-voice.png); }

	.gigantic-phone 			> .size > .symbol { background-image: url(../images/app-welcome/lianlian-in-shit-iphone.png); }
		.gigantic-phone .boy 	> .size > .symbol { background-image: url(../images/app-welcome/gigantic-phone-char-boy.png); }
		.gigantic-phone .girl 	> .size > .symbol { background-image: url(../images/app-welcome/gigantic-phone-char-girl.png); }

	.green-land 								> .size > .symbol { background-image: url(../images/app-welcome/green-land-prop-sward.png); }
		.green-land .building-1 				> .size > .symbol { background-image: url(../images/app-welcome/green-land-prop-building-1.png); }
		.green-land .building-2 				> .size > .symbol { background-image: url(../images/app-welcome/green-land-prop-building-2.png); }
		.green-land .building-twins .tower-1 	> .size > .symbol { background-image: url(../images/app-welcome/green-land-prop-building-twins-a.png); }
		.green-land .building-twins .tower-2 	> .size > .symbol { background-image: url(../images/app-welcome/green-land-prop-building-twins-b.png); }
