.stage,
*[class|='stage'] {
	position: relative;
}

.locator,
.pivot,
.size,
.symbol,
*[class|=symbol] {
	display: block !important;
	font-size: 0 !important;
	line-height: 0 !important;
	font-style: normal !important;
	font-weight: normal !important;
}

.locator,
.size,
.pivot {
	position: absolute;
}

.locator {
	width: 0;
	height: 0;
	overflow: visible !important;
	transform-origin: 0 0 0 !important;
	transform: rotate(0); 
}

.size {
}

.pivot,
*[class|='pivot'] {
	position: absolute;
/*	width: 100%;
	height: 100%;*/
	transform: rotate(0); 
}

.symbol,
*[class|=symbol] {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.pivot,
.pivot-center-center,
.pivot-center {
/*	left: -50%;
	top: -50%;*/
	transform-origin: 50% 50% 0 !important;
}



.pivot-top-left {
/*	left: 0%;
	top: 0%;*/
	transform-origin: 0 0 0 !important;
}

.pivot-top,
.pivot-top-center {
/*	left: -50%;
	top: 0%;*/
	transform-origin: 50% 0 0 !important;
}

.pivot-top-right {
/*	left: -100%;
	top: 0%;*/
	transform-origin: 100% 0 0 !important;
}



.pivot-bottom-left {
/*	left: 0%;
	top: -100%;*/
	transform-origin: 0 100% 0 !important;
}

.pivot-bottom,
.pivot-bottom-center {
/*	left: -50%;
	top: -100%;*/
	transform-origin: 50% 100% 0 !important;
}

.pivot-bottom-right {
/*	left: -100%;
	top: -100%;*/
	transform-origin: 100% 100% 0 !important;
}




.pivot-left,
.pivot-left-center {
/*	left: 0%;
	top: -50%;*/
	transform-origin: 0 50% 0 !important;
}

.pivot-right,
.pivot-right-center {
/*	left: -100%;
	top: -50%;*/
	transform-origin: 100% 50% 0 !important;
}








@-webkit-keyframes treatures-shows-up {
	0% { opacity: 0; }
	to { opacity: 1; }
	}
	@keyframes treatures-shows-up {
		0% { opacity: 0; }
		to { opacity: 1; }
	}



	@-webkit-keyframes treatures-glory-shining {
		0% { opacity: 0.45; }
		to { opacity: 1; }
	}
	@keyframes treatures-glory-shining {
		0% { opacity: 0.45; }
		to { opacity: 1; }
	}



	@-webkit-keyframes treatures-highlights-shining {
		0% { opacity: 0; }
		to { opacity: 1; }
	}
	@keyframes treatures-highlights-shining {
		0% { opacity: 0; }
		to { opacity: 1; }
	}



	@-webkit-keyframes treatures-highlights-shining-fast {
		0% { opacity: 0; }
		40% { opacity: 0; }
		to { opacity: 1; }
	}
	@keyframes treatures-highlights-shining-fast {
		0% { opacity: 0; }
		40% { opacity: 0; }
		to { opacity: 1; }
	}



	@-webkit-keyframes crow-flies-by {
		0% { left: 000%; }
		to { left: 100%; }
	}
	@keyframes crow-flies-by {
		0% { left: 000%; }
		to { left: 100%; }
	}


	@-webkit-keyframes crow-spawns {
		0% { width: 0; }
		to { width: 100%; }
	}
	@keyframes crow-spawns {
		0% { width: 0; }
		to { width: 100%; }
	}





.treatures-chest {
	}

	.treatures-chest *[class|=symbol] {
		background-size: contain;
	}







	.treatures-chest.size,
		.treatures-chest.large .size {
			width: 526px;
			height: 526px;
		}

		.treatures-chest.medium .size {
			width: 320px;
			height: 320px;
		}

		.treatures-chest.small .size {
			width: 256px;
			height: 256px;
		}

		.treatures-chest.tiny .size {
			width: 128px;
			height: 128px;
		}





.flying-crow {
	}

	.flying-crow .size,
		.large .flying-crow .size {
			width: 160px;
			height: 160px;
		}
		.medium .flying-crow .size {
			width: 100px;
			height: 100px;
		}
		.small .flying-crow .size {
			width: 80px;
			height: 80px;
		}
		.tiny .flying-crow .size {
			width: 40px;
			height: 40px;
		}

		.treatures-chest .flying-crow {
			top: 38%;
			left: 10%;
			width: 70%;
		}
		.treatures-chest .flying-crow .stage-spawned-dots {
			width: 85%;
		}

		.flying-crow .size > .center {
			margin-top: -25%;
		}


		.large .flying-crow .spawned-dots {
			height: 28px;
			line-height: 28px;
			font-size: 28px;
			letter-spacing: 0.02em;
		}

		.medium .flying-crow .spawned-dots {
			height: 20px;
			line-height: 20px;
			font-size: 20px;
			letter-spacing: 0.02em;
		}

		.small .flying-crow .spawned-dots {
			height: 14px;
			line-height: 14px;
			font-size: 14px;
			letter-spacing: 0.02em;
		}

		.tiny .flying-crow .spawned-dots {
			height: 7px;
			line-height: 7px;
			font-size: 7px;
			letter-spacing: 0.02em;
		}




	.flying-crow {
		height: 0;
	}

	.flying-crow .stage-spawned-dots {
		height: 0;
		left: 0;
		top: 0;
	}



	.flying-crow .spawned-dots {
		display: block;
		width: 0;
		overflow: hidden;
		white-space: pre-wrap;

		position: absolute;
		top: 0;
		left: 0;

		font-family: 'arial', sans-serif;
		font-weight: normal;
		font-style: normal;
		text-align: left;
	}


	.flying-crow .spawned-dots,
	.flying-crow .spawned-dots.theme-dark {
		color: #1c170f;
		text-shadow: 0 0 1px #1c170f, 0 0 5px rgba(255,255,255,0.5);
	}

	.flying-crow .spawned-dots.theme-bright {
		color: #fff;
		text-shadow: 0 0 1px #f90, 0 0 2px rgba(255,160,0,1.0), 0 0 5px rgba(255,160,0,1.0), 0 0 10px rgba(255,160,0,1.0);
	}






	.treatures-chest .symbol-treatures-chest-closed {
		background-image: url(../image/treatures-chest/symbol-chest-closed.png);
		}

		.treatures-chest .symbol-treatures-chest-opened-empty {
			background-image: url(../image/treatures-chest/symbol-chest-opened-empty.png);
		}

		.treatures-chest .symbol-treatures-glory.v1 {
			background-image: url(../image/treatures-chest/symbol-chest-treasures-glory.png);
		}
		.treatures-chest .symbol-treatures-glory.v2 {
			background-image: url(../image/treatures-chest/symbol-chest-treasures-glory2.png);
		}
		.treatures-chest .symbol-treatures {
			background-image: url(../image/treatures-chest/symbol-chest-treasures.png);
		}

		.treatures-chest .symbol-treatures-highlights {
			background-image: url(../image/treatures-chest/symbol-chest-treasures-highlights.png);
		}
		.treatures-chest .symbol-treatures-highlights-red {
			background-image: url(../image/treatures-chest/symbol-chest-treasures-highlights-red.png);
		}
		.treatures-chest .symbol-treatures-highlights-cyan {
			background-image: url(../image/treatures-chest/symbol-chest-treasures-highlights-cyan.png);
		}
		.treatures-chest .symbol-treatures-highlights-blue {
			background-image: url(../image/treatures-chest/symbol-chest-treasures-highlights-blue.png);
		}
		.treatures-chest .symbol-treatures-highlights-gold {
			background-image: url(../image/treatures-chest/symbol-chest-treasures-highlights-gold.png);
		}
		.treatures-chest .symbol-crow {
			background-image: url(../image/treatures-chest/symbol-crow.png);
		}


	




	.treatures-chest .symbol-treatures-chest-closed {
		display: block;
		}
		.treatures-chest .symbol-treatures-chest-opened-empty {
			display: none;
		}
		.treatures-chest .symbol-treatures-glory,
		.treatures-chest .symbol-treatures,
		.treatures-chest [class|=symbol-treatures-highlights] {
			display: none;
		}
		.treatures-chest .symbol-crow {
			/*
				do NOT use '.treatures-chest .flying-crow { display: none; }'
				because mozilla firefox won't refresh animations of an element
				if the value of its "display" property is changed by its parentNode.
				We have to toggle its "display" property DIRECTLY.
			*/
			display: none;
		}
		.treatures-chest .spawned-dots {
			display: none;
		}





		.treatures-chest.opened .symbol-treatures-chest-closed {
			display: none;
		}
		.treatures-chest.opened .symbol-treatures-chest-opened-empty {
			display: block;
		}
		.treatures-chest.opened .symbol-treatures-glory,
		.treatures-chest.opened .symbol-treatures,
		.treatures-chest.opened [class|=symbol-treatures-highlights] {
			display: none;
		}
		.treatures-chest.opened .symbol-crow {
			display: block;
		}
		.treatures-chest.opened .spawned-dots {
			display: block;
		}





		.treatures-chest.opened.full .symbol-treatures-glory,
		.treatures-chest.opened.full .symbol-treatures,
		.treatures-chest.opened.full [class|=symbol-treatures-highlights] {
			display: block;
		}
		.treatures-chest.opened.full .symbol-crow {
			display: none;
		}
		.treatures-chest.opened.full .spawned-dots {
			display: none;
		}






	.treatures-chest.opened.full .symbol-treatures-glory {
		transition: opacity 0.5s ease-in 0s;
		}



		.treatures-chest.opened .flying-crow .animator-crow {
			left: 100%;
			-webkit-animation: crow-flies-by 1.5s linear 0s 1 both;
			animation: crow-flies-by 1.5s linear 0s 1 both;
		}
		.treatures-chest.opened .flying-crow .spawned-dots {
			width: 100%;
			-webkit-animation: crow-spawns 1.3s linear 0.2s 1 both;
			animation: crow-spawns 1.3s linear 0.2s 1 both;
		}

		.treatures-chest.opened.full .symbol-treatures-glory {
			-webkit-animation: treatures-glory-shining 1.2s ease 0s infinite alternate;
			animation: treatures-glory-shining 1.2s ease 0s infinite alternate;
		}

		.treatures-chest.opened.full .symbol-treatures-highlights {
			-webkit-animation: treatures-highlights-shining 3s ease 0s infinite alternate;
			animation: treatures-highlights-shining 3s ease 0s infinite alternate;
		}

		.treatures-chest.opened.full .symbol-treatures-highlights-red {
			-webkit-animation: treatures-highlights-shining-fast 1.5s ease 0.1s infinite alternate;
			animation: treatures-highlights-shining-fast 1.5s ease 0.1s infinite alternate;
		}

		.treatures-chest.opened.full .symbol-treatures-highlights-cyan {
			-webkit-animation: treatures-highlights-shining-fast 1.75s ease 0.8s infinite alternate;
			animation: treatures-highlights-shining-fast 1.75s ease 0.8s infinite alternate;
		}

		.treatures-chest.opened.full .symbol-treatures-highlights-blue {
			-webkit-animation: treatures-highlights-shining-fast 1.5s ease 0.4s infinite alternate;
			animation: treatures-highlights-shining-fast 1.5s ease 0.4s infinite alternate;
		}

		.treatures-chest.opened.full .symbol-treatures-highlights-gold {
			-webkit-animation: treatures-highlights-shining 1.2s ease 0s infinite alternate;
			animation: treatures-highlights-shining 1.2s ease 0s infinite alternate;
		}

		.treatures-chest.opened.full .symbol-treatures {
			-webkit-animation: treatures-shows-up 0.5s ease 0s 1;
			animation: treatures-shows-up 0.5s ease 0s 1;
		}

		.treatures-chest.opened.full [class|=symbol-treatures-highlights] {
			opacity: 0; /* in case browser does NOT support animations */
		}







	.testing .symbol-treatures-chest-closed,
	.testing .symbol-treatures-chest-opened-empty {
		border: 1px solid rgba(255,255,255,0.2);
		box-sizing: border-box;
	}

	.testing .flying-crow {
		height: 14px;
		/*background-color: rgba(255,255,255,0.5);*/
	}

	.testing .flying-crow .stage-spawned-dots {
		height: 28px;
		/*background-color: rgba(255,0,255,0.5);*/
	}

	.testing .flying-crow .spawned-dots {
		width: 100%;
		display: block;
	}

