.stage,
*[class|='stage'] {
	position: relative;
}

.locator,
.pivot,
.size,
.symbol,
*[class|=symbol] {
	display: block;
	font-size: 0 !important;
	line-height: 0 !important;
	font-style: normal !important;
	font-weight: normal !important;
}

.locator,
.size,
.pivot {
	position: absolute;
}

.locator {
	width: 0;
	height: 0;
	overflow: visible !important;
	transform-origin: 0 0 0 !important;
	transform: rotate(0); 
}

.size {
}

.size > .pivot,
.size > *[class|='pivot'] {
	position: absolute;
	width: 100%;
	height: 100%;
}

.symbol,
*[class|=symbol] {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.size > .pivot,
.size > .pivot.center-center,
.size > .pivot.center {
	left: -50%;
	top: -50%;
	transform-origin: 50% 50% 0;
}



.size > .pivot.top-left {
	left: 0%;
	top: 0%;
	transform-origin: 0 0 0;
}

.size > .pivot.top,
.size > .pivot.top-center {
	left: -50%;
	top: 0%;
	transform-origin: 50% 0 0;
}

.size > .pivot.top-right {
	left: -100%;
	top: 0%;
	transform-origin: 100% 0 0;
}



.size > .pivot.bottom-left {
	left: 0%;
	top: -100%;
	transform-origin: 0 100% 0;
}

.size > .pivot.bottom,
.size > .pivot.bottom-center {
	left: -50%;
	top: -100%;
	transform-origin: 50% 100% 0;
}

.size > .pivot.bottom-right {
	left: -100%;
	top: -100%;
	transform-origin: 100% 100% 0;
}




.size > .pivot.left,
.size > .pivot.left-center {
	left: 0%;
	top: -50%;
	transform-origin: 0 50% 0;
}

.size > .pivot.right,
.size > .pivot.right-center {
	left: -100%;
	top: -50%;
	transform-origin: 100% 50% 0;
}






*[data-wa-role='resources-loader'] {
	display: block !important;
	position: fixed !important;
	left: -1px !important;
	top: -1px !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 100px !important;
	height: 100px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	visibility: hidden !important;
	z-index: 10 !important;
}

*[data-wa-role='resources-loader'] * {
	position: static !important;
}









*[wa-flipover-root] {
	-webkit-perspective: 20rem;
	perspective: 20rem;
	}

	*[wa-flipover-side] {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
	}



	*[wa-flipover-animation='flipover-forwards-to-show-front-face'] {
		-webkit-animation: wak-flipover-forwards-to-show-front-face 0.5s ease-in-out both;
		        animation: wak-flipover-forwards-to-show-front-face 0.5s ease-in-out both;
		z-index: 1;
	}
	*[wa-flipover-animation='flipover-forwards-to-show-back-face'] { /* to show back face in fact means to hide */
		-webkit-animation: wak-flipover-forwards-to-show-back-face 0.5s ease-in-out both;
		        animation: wak-flipover-forwards-to-show-back-face 0.5s ease-in-out both;
		z-index: 0;
	}
	*[wa-flipover-animation='flipover-backwards-to-show-front-face'] {
		-webkit-animation: wak-flipover-backwards-to-show-front-face 0.5s ease-in-out both;
		        animation: wak-flipover-backwards-to-show-front-face 0.5s ease-in-out both;
		z-index: 1;
	}
	*[wa-flipover-animation='flipover-backwards-to-show-back-face'] { /* to show back face in fact means to hide */
		-webkit-animation: wak-flipover-backwards-to-show-back-face 0.5s ease-in-out both;
		        animation: wak-flipover-backwards-to-show-back-face 0.5s ease-in-out both;
		z-index: 0;
	}





@-webkit-keyframes wa-shows-up {
	0% { opacity: 0; }
	to { opacity: 1; }
	}
	@keyframes wa-shows-up {
		0% { opacity: 0; }
		to { opacity: 1; }
	}






@-webkit-keyframes wak-flipover-forwards-to-show-front-face {
	0% { -webkit-transform: rotateX(180deg); }
	to { -webkit-transform: rotateX(360deg); }
}

@keyframes wak-flipover-forwards-to-show-front-face {
	0% { transform: rotateX(180deg); }
	to { transform: rotateX(360deg); }
}

@-webkit-keyframes wak-flipover-forwards-to-show-back-face {
	0% { -webkit-transform: rotateX(0deg); }
	to { -webkit-transform: rotateX(180deg); }
}

@keyframes wak-flipover-forwards-to-show-back-face {
	0% { transform: rotateX(0deg); }
	to { transform: rotateX(180deg); }
}





@-webkit-keyframes wak-flipover-backwards-to-show-front-face {
	0% { -webkit-transform: rotateX(180deg); }
	to { -webkit-transform: rotateX(0deg); }
}

@keyframes wak-flipover-backwards-to-show-front-face {
	0% { transform: rotateX(180deg); }
	to { transform: rotateX(0deg); }
}

@-webkit-keyframes wak-flipover-backwards-to-show-back-face {
	0% { -webkit-transform: rotateX(360deg); }
	to { -webkit-transform: rotateX(180deg); }
}

@keyframes wak-flipover-backwards-to-show-back-face {
	0% { transform: rotateX(360deg); }
	to { transform: rotateX(180deg); }
}






@-webkit-keyframes wak-flies-in-1 { /* best duration: 0.7s */
	0% {
		-webkit-transform: translate3d(7%,-10%,0) rotateX(118deg) rotateY(2deg) rotateZ(-2deg);
		-webkit-transform-origin: 0 100%;
	}
	to {
		-webkit-transform-origin: 10% 0%;
	}
	}

	@keyframes wak-flies-in-1 {
		0% {
			transform: translate3d(7%,-10%,0) rotateX(118deg) rotateY(2deg) rotateZ(-2deg);
			transform-origin: 0 100%;
		}
		to {
			transform-origin: 10% 0%;
		}
	}






@-webkit-keyframes wak-flies-in-2 { /* best duration: 0.7s */
	0% {
		-webkit-transform: translate3d(0%,10%,0) rotateX(111deg) rotateY(12deg) rotateZ(-1.8deg);
		-webkit-transform-origin: 0% 100%;
	}
	25% {
		-webkit-transform: translate3d(0%,-6%,0) rotateX(0.45deg) rotateY(-6deg) rotateZ(-1deg);
	}
	40% {
		-webkit-transform: translate3d(0%,4%,0) rotateX(-0.21deg) rotateY(4.4deg) rotateZ(0.72deg);
	}
	55% {
		-webkit-transform: translate3d(0%,-2.7%,0) rotateX(0.15deg) rotateY(-2.8deg) rotateZ(-0.45deg);
	}
	70% {
		-webkit-transform: translate3d(0%,2%,0) rotateX(-0.9deg) rotateY(1.7deg) rotateZ(0.3deg);
	}
	85% {
		-webkit-transform: translate3d(0%,-1%,0) rotateX(0.3deg) rotateY(-0.6deg) rotateZ(-0.15deg);
	}
	to {
		-webkit-transform-origin: 10% 0%;
	}
	}


	@keyframes wak-flies-in-2 {
		0% {
			transform: translate3d(0%,10%,0) rotateX(111deg) rotateY(12deg) rotateZ(-1.8deg);
			transform-origin: 0% 100%;
		}
		25% {
			transform: translate3d(0%,-6%,0) rotateX(0.45deg) rotateY(-6deg) rotateZ(-1deg);
		}
		40% {
			transform: translate3d(0%,4%,0) rotateX(-0.21deg) rotateY(4.4deg) rotateZ(0.72deg);
		}
		55% {
			transform: translate3d(0%,-2.7%,0) rotateX(0.15deg) rotateY(-2.8deg) rotateZ(-0.45deg);
		}
		70% {
			transform: translate3d(0%,2%,0) rotateX(-0.9deg) rotateY(1.7deg) rotateZ(0.3deg);
		}
		85% {
			transform: translate3d(0%,-1%,0) rotateX(0.3deg) rotateY(-0.6deg) rotateZ(-0.15deg);
		}
		to {
			transform-origin: 10% 0%;
		}
		}






@-webkit-keyframes wak-flies-in-3 { /* best duration: 0.7s */
	0% {
		-webkit-transform: translate3d(67%,10%,0) rotateX(111deg) rotateY(12deg) rotateZ(-1.8deg);
		-webkit-transform-origin: 0% 100%;
	}
	25% {
		-webkit-transform: translate3d(0%,-6%,0) rotateX(0.45deg) rotateY(-6deg) rotateZ(-1deg);
	}
	40% {
		-webkit-transform: translate3d(0%,4%,0) rotateX(-0.21deg) rotateY(4.4deg) rotateZ(0.72deg);
	}
	55% {
		-webkit-transform: translate3d(0%,-2.7%,0) rotateX(0.15deg) rotateY(-2.8deg) rotateZ(-0.45deg);
	}
	70% {
		-webkit-transform: translate3d(0%,2%,0) rotateX(-0.9deg) rotateY(1.7deg) rotateZ(0.3deg);
	}
	85% {
		-webkit-transform: translate3d(0%,-1%,0) rotateX(0.3deg) rotateY(-0.6deg) rotateZ(-0.15deg);
	}
	to {
		-webkit-transform-origin: 10% 0%;
	}
	}


	@keyframes wak-flies-in-3 {
		0% {
			transform: translate3d(67%,10%,0) rotateX(111deg) rotateY(12deg) rotateZ(-1.8deg);
			transform-origin: 0% 100%;
		}
		25% {
			transform: translate3d(0%,-6%,0) rotateX(0.45deg) rotateY(-6deg) rotateZ(-1deg);
		}
		40% {
			transform: translate3d(0%,4%,0) rotateX(-0.21deg) rotateY(4.4deg) rotateZ(0.72deg);
		}
		55% {
			transform: translate3d(0%,-2.7%,0) rotateX(0.15deg) rotateY(-2.8deg) rotateZ(-0.45deg);
		}
		70% {
			transform: translate3d(0%,2%,0) rotateX(-0.9deg) rotateY(1.7deg) rotateZ(0.3deg);
		}
		85% {
			transform: translate3d(0%,-1%,0) rotateX(0.3deg) rotateY(-0.6deg) rotateZ(-0.15deg);
		}
		to {
			transform-origin: 10% 0%;
		}
		}







@-webkit-keyframes wak-flies-in-4 { /* best duration: 0.7s */
	0% {
		-webkit-transform: translate3d(2%,300%,0) rotateX(111deg) rotateY(1.2deg) rotateZ(-1.8deg);
		-webkit-transform-origin: 46% 0%;
	}
	25% {
		-webkit-transform: translate3d(0%,-18%,0) rotateX(0.45deg) rotateY(-0.6deg) rotateZ(-1deg);
	}
	40% {
		-webkit-transform: translate3d(0%,14%,0) rotateX(-0.21deg) rotateY(0.44deg) rotateZ(0.72deg);
	}
	55% {
		-webkit-transform: translate3d(0%,-10%,0) rotateX(0.15deg) rotateY(-0.28deg) rotateZ(-0.45deg);
	}
	70% {
		-webkit-transform: translate3d(0%,6.6%,0) rotateX(-0.9deg) rotateY(0.17deg) rotateZ(0.3deg);
	}
	85% {
		-webkit-transform: translate3d(0%,-3%,0) rotateX(0.3deg) rotateY(-0.06deg) rotateZ(-0.15deg);
	}
	to {
		-webkit-transform-origin: 10% 0%;
	}
	}

	@keyframes wak-flies-in-4 { /* best duration: 0.7s */
		0% {
			transform: translate3d(2%,300%,0) rotateX(111deg) rotateY(1.2deg) rotateZ(-1.8deg);
			transform-origin: 46% 0%;
		}
		25% {
			transform: translate3d(0%,-18%,0) rotateX(0.45deg) rotateY(-0.6deg) rotateZ(-1deg);
		}
		40% {
			transform: translate3d(0%,14%,0) rotateX(-0.21deg) rotateY(0.44deg) rotateZ(0.72deg);
		}
		55% {
			transform: translate3d(0%,-10%,0) rotateX(0.15deg) rotateY(-0.28deg) rotateZ(-0.45deg);
		}
		70% {
			transform: translate3d(0%,6.6%,0) rotateX(-0.9deg) rotateY(0.17deg) rotateZ(0.3deg);
		}
		85% {
			transform: translate3d(0%,-3%,0) rotateX(0.3deg) rotateY(-0.06deg) rotateZ(-0.15deg);
		}
		to {
			transform-origin: 10% 0%;
		}
		}


@-webkit-keyframes wak-rises-up-1 {
	0% {
		-webkit-transform: translate3d(0%,80%,0);
	}
	75% {
		-webkit-transform: translate3d(0%,-7%,0);
	}
	to {
	}
	}

	@keyframes wak-rises-up-1 {
		0% {
			transform: translate3d(0%,80%,0);
		}
		75% {
			transform: translate3d(0%,-7%,0);
		}
/*		80% {
			transform: translate3d(0%,2.4%,0);
		}*/
		to {
		}
	}



@-webkit-keyframes wak-slide-in-from-left-1 {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-90%,00%,0);
	}
	66% {
		-webkit-transform: translate3d(7%,0%,0);
	}
	to {
	}
	}

	@keyframes wak-slide-in-from-left-1 {
		0% {
			opacity: 0;
			transform: translate3d(-90%,00%,0);
		}
		66% {
			transform: translate3d(7%,0%,0);
		}
		to {
		}
	}


